@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-6">Регистрация в системе</h1>

    <form>
        <div class="mb-3">
            <label class="form-label">Логин</label>
            <input type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="text" class="form-control" />
        </div>
       
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
